{{ define "main" }}
<article class="py-16 bg-white">
    <div class="container mx-auto px-8">
        <div class="w-full lg:w-8/12 mx-auto mb-8">
            {{ with .Params.image }}
            <img class="rounded" src="{{ . | absURL }}" alt="{{ .Title }}" />
            {{ end }}
        </div>
        <div class="text-center">
            <h1 class="text-4xl font-bold leading-tight">{{ .Title }}</h1>
            <div class="text-md text-gray-600 mt-2">{{ .Date.Format "January 2, 2006" }}</div>
        </div>
        <div class="mt-8 lg:w-8/12 mx-auto leading-relaxed text-lg">
            {{ .Content }}
        </div>
    </div>
</article>
{{ end }}
